S3method(naive_bayes,default)
S3method(naive_bayes,formula)
S3method(plot,naive_bayes)
S3method(summary,naive_bayes)
S3method(predict,naive_bayes)
S3method(print,naive_bayes)
S3method(print,naive_bayes_tables)
S3method(print,naive_bayes_tables)
S3method(`[`,naive_bayes_tables)
S3method(predict,bernoulli_naive_bayes)
S3method(print,bernoulli_naive_bayes)
S3method(plot,bernoulli_naive_bayes)
S3method(summary,bernoulli_naive_bayes)
S3method(coef,bernoulli_naive_bayes)
S3method(predict,gaussian_naive_bayes)
S3method(print,gaussian_naive_bayes)
S3method(plot,gaussian_naive_bayes)
S3method(summary,gaussian_naive_bayes)
S3method(coef,gaussian_naive_bayes)
S3method(predict,poisson_naive_bayes)
S3method(print,poisson_naive_bayes)
S3method(plot,poisson_naive_bayes)
S3method(summary,poisson_naive_bayes)
S3method(coef,poisson_naive_bayes)
S3method(predict,multinomial_naive_bayes)
S3method(print,multinomial_naive_bayes)
S3method(plot,multinomial_naive_bayes)
S3method(summary,multinomial_naive_bayes)
S3method(coef,multinomial_naive_bayes)
S3method(predict,nonparametric_naive_bayes)
S3method(print,nonparametric_naive_bayes)
S3method(plot,nonparametric_naive_bayes)
S3method(summary,nonparametric_naive_bayes)

export(naive_bayes)
export(bernoulli_naive_bayes)
export(gaussian_naive_bayes)
export(multinomial_naive_bayes)
export(nonparametric_naive_bayes)
export(poisson_naive_bayes)
export(tables)
export(get_cond_dist)
export("%class%")
export("%prob%")
