
S3method(naive_bayes,default)
S3method(naive_bayes,formula)
S3method(plot,naive_bayes)
S3method(predict,naive_bayes)
S3method(print,naive_bayes)
S3method(print,naive_bayes_tables)
S3method(`[`,naive_bayes_tables)
export(naive_bayes)
export(tables)
export(get_cond_dist)
