
S3method(naive_bayes,default)
S3method(naive_bayes,formula)
S3method(plot,naive_bayes)
S3method(predict,naive_bayes)
S3method(print,naive_bayes)
S3method(print,naive_bayes_tables)
S3method(`[`,naive_bayes_tables)
S3method(predict,bernoulli_naive_bayes)
S3method(print,bernoulli_naive_bayes)
S3method(plot,bernoulli_naive_bayes)

export(naive_bayes)
export(bernoulli_naive_bayes)
export(bernoulli_tables_to_df)
export(tables)
export(get_cond_dist)
